@charset "UTF-8";

// each will be a row on the grid
.mdmc-header, .mdmc-body, .mdmc-footer {
	@extend .row;
	
	max-width: 100%;
	
	>section {
		@extend .small-12, .columns;
		
		padding-left: 0;
		padding-right: 0;
	}
}

.upper-case {
	text-transform: uppercase;
}

.login-button {
	@include button-base;
	@include button-style(#f27303, true, false);
	@include radius(10px);
	@include single-transition;
	
	color: #fff;
	
	-webkit-box-shadow: 0 2px 0 0 #b25a00;
	   -moz-box-shadow: 0 2px 0 0 #b25a00;
	        box-shadow: 0 2px 0 0 #b25a00;
}

.rounded-corners {
	@include radius(10px);
	
	border: 1px solid #5ba1d0;
	background-color: #f7f7f7;
	padding: 0;

	-webkit-box-shadow: 0 2px 0 0 #666;
	   -moz-box-shadow: 0 2px 0 0 #666;
	        box-shadow: 0 2px 0 0 #666;
}

// TOPBAR
.mdmc-header .top-bar {
	background-image: url(../mobile-img/header-bg@2x.png);
	background-size: 60px $topbar-height;
	background-repeat: repeat-x;
	width: 100%;
}

// this selector is required for topbar to work properly
.name h1 {
	display: none;
}

// this is to move the default menu position from right to left
.top-bar .toggle-topbar.menu-icon {
	left: 0;
	top: 50%;
	margin-top: -16px;
	padding-left: 0;
	width: 50px; //EDK
}

// move the search and shopping cart icons to the right
.topbar-icons {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -16px;
	padding-left: 40px;
}
