@charset "UTF-8";

@mixin mdmc-box-shadow($horizontal-offset, $vertical-offset, $blur-radius, $spread-radius, $color) {
	-webkit-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
	-moz-box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
	box-shadow: $horizontal-offset $vertical-offset $blur-radius $spread-radius $color;
}

@mixin mdmc-no-box-shadow() {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

// this mixin will setup icons to be vertically centered in the parent container
@mixin mdmc-valign-icon($container-height, $icon-width, $icon-height) {
	$half: ($container-height - $icon-height) / 2;
	$remainder: ($container-height - $icon-height) % 2;

	width: $icon-width;
	height: $icon-height;
	// if there is a remainder, we will add it to the top margin
	margin: $half + $remainder auto $half auto;
}

// each will be a row in the grid
// all immediate child of section type is a 12 column grid
.mdmc-header,
.mdmc-body,
.mdmc-footer {
	@extend .row;
	
	&>section {
		@extend .small-12, .columns;
		
		padding: 0;
	}
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #d1d1d1;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #d1d1d1;
}

.upper-case {
	text-transform: uppercase;
}

.rounded-corners {
	@include radius(10px);

	-moz-box-shadow: 0 1px 0 0 #999, 0 2px 0 0 #fff inset;
	-webkit-box-shadow: 0 1px 0 0 #999, 0 2px 0 0 #fff inset;
	box-shadow: 0 1px 0 0 #999, 0 2px 0 0 #fff inset;

	border: 1px solid #5ba1d0;
	background-color: #f7f7f7;
	padding: 0;
   
	input {
		width: 100%;
		height: 50px;
		
		display: block;
		
		border: 0;
		background-color: transparent;

		padding-left: 10px;
		padding-right: 10px;
		
		&:not(:first-child) {
			@include mdmc-box-shadow(0, -1px, 0, 0, #e3e3e3);
			
			border-top: 1px solid #fff;
		}
		
		&:focus {
			outline: none;
		}
	}
}

.cta-button {
	@include button-base;
	@include single-transition;
	
	width: 100%;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	
	border: 0;

	&.primary {
		@include button-style(#f27303, true, false);
		
		&.large {
			@include radius(10px);
			@include mdmc-box-shadow(0, 2.5px, 0, 0, #b25a00);	
			
			font-size: emCalc(15px);
			height: 50px;
		}
		
		&.small {
			@include radius(5px);
			@include mdmc-box-shadow(0, 1px, 0, 0, #b25a00);

			font-size: emCalc(10px);
			height: 25px;
		}
	}

	&.secondary {
		@include button-style(#eaeaea, true, false);
		
		color: #7f7f7f;
		
		&.large {
			@include radius(10px);	
			@include mdmc-box-shadow(0, 2.5px, 0, 0, #c7c7c7);
			
			font-size: emCalc(15px);
			height: 50px;
		}
		
		&.small {
			@include radius(5px);
			@include mdmc-box-shadow(0, 1px, 0, 0, #c7c7c7);

			font-size: emCalc(10px);
			height: 25px;
		}
	}

	&.tertiary {
		@include button-style(#4898d4, true, false);

		&.large {
			@include radius(10px);
			@include mdmc-box-shadow(0, 2.5px, 0, 0, #4981ab);
			
			font-size: emCalc(15px);
			height: 50px;
		}
		
		&.small {
			@include radius(5px);
			@include mdmc-box-shadow(0, 1px, 0, 0, #4981ab);

			font-size: emCalc(10px);
			height: 25px;
		}		
	}
}
