@charset "UTF-8";

// Global Foundation Settings
@import "variables";

// Comment out this import if you are customizing you imports below
// @import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "common";

.rounded-corners {
	@include radius(10px);
	
	border: 1px solid #5ba1d0;
	background-color: #f7f7f7;
	padding: 0;

	-webkit-box-shadow: 0 2px 1px -1px #999;
	   -moz-box-shadow: 0 2px 1px -1px #999;
	        box-shadow: 0 2px 1px -1px #999;
	        
	&.error {
		border: 1px solid red;
	}
	
}

body {
	background-image: url(../mobile-img/login-bg@2x.png);
	background-size: 100% 568px;
	background-repeat: no-repeat;
	width: 100%;
	height: 568px;
}

.mdmc-header {
	section {
		padding-top: 55px;
		padding-bottom: 5px;
		
		.dmc-logo {
			background-image: url(../mobile-img/dmc-logo-lg@2x.png);
			background-size: 176px 88px;
			background-repeat: no-repeat;
			width: 176px;
			height: 88px;
			
			margin: 0 auto;
			cursor: pointer;
			
			span {
				display: none;
			}
		}
	}
}

.mdmc-body .credentials {
	@extend .row;
	
	border: 0;
	
	&>div {
		@extend .small-11, .small-centered, .columns;
		
		padding: 0;
		
		div {
			width: 248px;
			
			margin: 0 auto;
		
			input {
				display: block;
				border: 0;
				width: 100%;
				
				&:not(:first-child) {
					border-top: 1px solid #e3e3e3;
				}
			
				&[type=text],
				&[type=password] {
					background-color: transparent;
					padding-left: 10px;
					padding-right: 10px;
					height: 52px;
				}
				
				&[type=submit],
				&[type=button] {
					margin-top: 15px;
					height: 53px;
				}
				
				&:focus {
					outline: none;
				}
			}
			
			a,
			span {
				font-size: 10px;
				font-weight: bold;
				color: #333;
			}
			
			a:hover {
				text-decoration: underline;
			}
			
			span {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
		
		hr {
			border: px solid #333;
		}
	}
}

